/*
 * Geoint Tileserver CSS
 */

/* CSS FOR MoW PLUGIN */
ul.tree-list, ul.tree-list li, ul.tree-list ul, ul.tree-list li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.tree-list {
    overflow-x: auto;
}

ul.tree-list li > ul {
    display: block;
    margin-left: 12px;
}

ul.tree-list li {
    position: relative;
    cursor: pointer;
}

ul.tree-list li a:hover {
    color: #fff;
    background: #2199e8;
}

ul.tree-list li a, ul.tree-list li a:hover, ul.tree-list li a:active, ul.tree-list li a:visited, ul.tree-list li a:focus {
    text-decoration: none;
}

ul.tree-list li > a {
    background: #eaeaea;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul.tree-list li li > a {
    padding-left: 8px;
    word-break: break-all;
    word-break: break-word;
}

ul.tree-list li > a {
    padding-left: 8px;
    display: block;
    color: #333;
}

ul.tree-list li > a input[type=checkbox], input[type=radio] {
    margin-right: 4px;
}

ul.tree-list li.has-children > a {
    margin-left: 0px;
    padding-left: 15px;
    font-weight: 700;
}

ul.tree-list li.has-children > a::before {
    content: "\e250";
    font-size: 9px;
    font-family: 'Glyphicons Halflings';
    left: 3px;
    top: 6px;
    display: inline-block;
    position: absolute;
}

ul.tree-list li.has-children.active > a::before {
    content: "\e252";
}

ul.tree-list li.has-children > ul {
    display: none;
}

ul.tree-list li.has-children.active > ul {
    display: block;
}

ul.tree-list, ul.layer-list {

    margin: 0 0 8px 0;
    padding: 0;

}

.task td {
    word-break: break-all;
    word-break: break-word;
    min-width: 103px;
}

body .alert {
    margin-bottom: 4px;
}

.form-inline .form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
}

input.form-control {
    width: 100%;
}

ul.layer-list, ul.layer-list li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.layer-list {
    margin: 4px 0 9px 0;
}

ul.layer-list li {
    position: relative;
    padding: 2px 0;
    background: #e0e0e0;
    font-size: 13px;
    margin-bottom: 1px;
}

.layer-list li .toggle {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 20px;
}

.layer-list li .name {
    width: 100%;
    padding: 1px 27px 1px 8px;
}

.layer-list li .buttons {
    position: absolute;
    right: 6px;
    top: 4px;
    font-size: 11px;
}

.layer-list .button {
    cursor: pointer;
    display: inline-block;
    padding-top: 2px;
}

.layer-list .button:hover, .layer-list .button.info:hover {
    color: #2199e8;
}

.layer-list .button.info {
    color: #989898;
    margin-right: 5px;
}

#scaleSelection .input-group-addon {
    padding: 6px 2px;
    font-size: 11px;
}

/*
END MoW plugin css
*/

/* from MoW plugin */
.sidebar .coords {
    position: relative;
}

.sidebar .coords .hyphen {
    position: absolute;
    top: 30px;
    right: -3px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* end from MoW plugin */

body {
    position: relative;
}

#mouse-position {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 4px;
    color: #00c0ff;
    font-size: 12px;
}

.navbar-brand {
    padding: 4px 0 0 11px;
    height: 69px;
}

.navbar-brand .logo {
    height: 69px;
    float: left;
    width: 92px;
}

.page-title {
    clear: both;
    background: #162956;
    padding: 2px 0 2px 11px;
}

.navbar-brand .logo-text {
    display: inline-block;
    padding-top: 10px;
}

body .navbar-right {
    margin-right: 0px;
}

.navbar-nav > li > a {
    padding: 15px 15px;
}

.navbar-brand .logo {
    height: 60px;
}

.navbar-inverse {
    min-height: 75px;
}

.menu-toggle {
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 25px;
    color: #162956;
    cursor: pointer;
}

.menu-toggle:hover {
    color: #FAB208;
}

.ng-cloak {
    display: none;
}

#menu {
    background: #2e5590;
    clear: both;
    text-align: right;
    padding: 0 12px 12px 0;
}

#menu ul, #menu li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu li > a {
    color: #ffffff;
}

#menu li > a:hover {
    text-decoration: none;
    color: #fab208;
}

.sidebar h5 {
    margin-top: 0px;
}

.sidebar h6.service {
    margin: 0 0 1px 0;
    background: #457bd0;
    color: #fff;
    padding: 3px 4px;
}

.sidebar h6 a .glyphicon {
    font-size: 9px;
    color: #162a55;
    font-weight: 400;
}

#resize {
    cursor: ns-resize;
    position: absolute;
    top: 50%;
    padding: 0;
    width: 100%;
    margin-top: 0px;
}

#resize .inside {
    height: 6px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background: #e0e0e0 url("../img/icon-resize-horizontal.png") top no-repeat;
    background-size: 11px 2px;
    background-position: 50%;
}

#map.has-top-layer {
    cursor: pointer;
}

.sidebar img {
    max-width: 100%;
}

#sidebar-help img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 2px solid #70a0e8;
}

.sidebar.sidebar-main {
    overflow-y: auto;
}

.sidebar-main > .inner {
    padding: 20px 20px 20px 20px;
}

/*
* MOBILE STYLES
*/
/* xl */
@media (min-width: 1200px) {

}

/* lg */
@media (max-width: 1199px) {
}

/* md */
@media (max-width: 992px) {
    body input.xs {
        max-width: 40px;
    }

    body .btn.sm {
        padding: 5px 8px;
    }

    body .sidebar.top-toolbar h2 {
        font-size: 15px;
        font-weight: 400;
    }

    body .page-title {
        font-size: 12px;
        line-height: 21px;
    }

}

/* xs */
@media (max-width: 767px) {
    body {
    }

    body .sidebar {
        border: 0px;
    }

    body .row .main {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    body #mouse-position {
        top: 22px;
    }
}

/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 93px;
    bottom: 0px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #eeeeee;
    border-right: 1px solid #eee;
}

.sidebar-main {
    padding: 0;
    background: #ffffff;
}

#sidebar-main-layers, #sidebar-main-order {
    overflow: auto;
}

/* sidebar toggle */
body .sidebar-toggle {
    display: block;
    position: absolute;
    right: -18px;
    width: 18px;
    border-radius: 0px;
    padding: 14px 0;
}

body .sidebar-toggle-wrap {
    display: block;
    position: fixed;
    top: 42%;
    overflow: visible;
    z-index: 100000;
    left: 0px;
}

body .hide-sidebar .sidebar-toggle .left {
    display: none;
}

body .hide-sidebar .sidebar-toggle .right {
    display: block;
}

body .sidebar-toggle .left {
    display: block;
}

body .sidebar-toggle .right {
    display: none;
}

.sidebar-toggle-wrap {
    display: none;
}

.sidebar-toggle-wrap .btn-default {
    background: #dbdbdb;
}

.sidebar-toggle-wrap .btn-default:hover {
    background: #ffffff;
    color: #428bca;
}

.sidebar-toggle-wrap .btn:focus, .sidebar-toggle-wrap .btn:active {
    outline: none;
    border-color: #ccc;
}

/*#main{transition: width .2s;}*/

.hide-sidebar .sidebar-main {
    left: -83%;
}

.hide-sidebar .sidebar-toggle-wrap {
    left: -83%;
}

@media (min-width: 768px) {
    .hide-sidebar .sidebar-main {
        left: -33%;
    }

    .hide-sidebar .sidebar-toggle-wrap {
        left: -33%;
    }

    .hide-sidebar .top-toolbar {
        left: -33%;
    }

    .hide-sidebar #main {
        margin-left: 0px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .hide-sidebar .sidebar-main, .hide-sidebar .top-toolbar, .hide-sidebar .bottom-toolbar,
    .hide-sidebar .sidebar-toggle-wrap {
        left: -24.8%;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

body .sidebar.top-toolbar {
    bottom: inherit;
    background: #2e5590;
    height: 93px;
    top: 0px;
    color: #ffffff;
    padding: 0;
    overflow: visible;
    z-index: 1100;
}

.sidebar.top-toolbar h2 {
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    padding: 8px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    z-index: 500;
}

.sidebar.top-toolbar img.header-icon {
    float: left;
    height: 18px;
    margin: 5px 5px 0 6px;
}

body .sidebar.bottom-toolbar {
    top: inherit;
    bottom: 0px;
    background: #dbdbdb;
    color: #4C4F59;
    height: 32px;
    padding: 5px 18px;
    overflow: visible;
    border-top: 1px solid #ccc;
}

body .sidebar.bottom-toolbar .popover-title {
    background: #3e3e3e;
}

body .sidebar.bottom-toolbar .popover-content {
    color: #3e3e3e;
}

/*
 * Main content
 */
body {
    padding-top: 0px;
}

html, body, .container-fluid, .main-row, .main, #map {
    height: 100%;
}

body .main {
    padding: 0px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

#sidebar-help {
    display: block;
}

#sidebar-info {
    display: none;
}

#sidebar-feature-info {
    display: none;
    overflow: auto;
    padding-top: 36px;
    background: #ffffff;
}

#sidebar-feature-info .navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    background: #729ad8;
}

#sidebar-feature-info .navbar .btn {
    background: none;
}

#sidebar-feature-info .navbar .btn:hover {
    color: #000000;
}

#sidebar-feature-info h1 {
    font-size: 22px
}

#sidebar-feature-info h2 {
    font-size: 20px;
}

#sidebar-feature-info h3 {
    font-size: 18px;
}

#sidebar-feature-info h4 {
    font-size: 16px;
    font-weight: 700
}

.sidebar-main .navbar-right {
    margin-right: 0px;
}

.sidebar-main .navbar-inverse {
    background: #4c4f59;
    color: #fff;
    min-height: auto;
    border: 0px;
    color: #fff;
    border-radius: 0px;
}

.sidebar-main .navbar-brand {
    height: 36px;
    padding: 8px 12px;
    color: #ffffff;
}

.sidebar-main .btn-close, .sidebar .resize-full, .sidebar .resize-small {
    float: right;
    background: #4c4f59;
}

.sidebar-main .resize-small {
    display: none;
}

.sidebar-main .btn:hover {
    color: #428bca;
}

.sidebar-main .panel-group {
    padding: 0 16px;
}

body .sidebar.fullscreen {
    width: 100%;
}

#sidebar-feature-info .loading-indicator {
    display: none;
}

#sidebar-feature-info.loading .loading-indicator {
    display: block;
    padding: 10px;
    color: #337ab7;
}

#sidebar-feature-info.loading .inner {
    display: none;
}

#sidebar-feature-info .inner {
    width: 100%;
    overflow: auto;
}

#sidebar-feature-info .layer-title {
    width: 100%;
    background: #dbdbdb;
    font-size: 12px;
    padding: 2px 10px;
    color: #2d2d2d;
}

.navbar-inverse .navbar-brand:hover {
    color: inherit;
}

#estimated-size {
    display: none;
    color: #2199e8;
    font-size: 12px;
}

/* #2199e8 */

.panel-default {
    border-top-width: 1px;
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
    box-shadow: none;
    border-color: #e6e6e6;
    background: #f9f9f9;
    border-bottom-width: 1px;
    margin: 22px 0;
}

.panel-default .panel-heading {
    background: none;
    border-bottom: 0px;
}

.panel-default .panel-heading .glyphicon {
    font-size: 12px;
}

.panel-default hr.spacer {
    background: none;
    border: 0px;
    height: 22px;
    margin: 0px;
}

/*
 * Fonts / Text
 */
.info.sm {
    font-size: 12px;
    border-radius: 3px;
    color: #8e8e8e;
    display: inline-block;
    margin-top: 9px;
}

.info.sm span {
    color: #2199e8;
}

label.sm {
    font-size: 10px;
    font-weight: normal;
}

/*
 * Forms, Inputs, Buttons
 */

.form-control {
    max-width: 100%;
}

#buttons {
    margin: 15px 0 10px 0;
}

#download-reset {
    display: none;
}

.btn {
    border-radius: 2px;
}

.btn-default {
    color: #333;
    background-color: #dcdcdc;
    border-color: #ccc;
}

.btn-primary:hover, .sidebar-main .btn.btn-primary:hover {
    background: #162956;
    color: #fff;
}

.btn-primary.disabled, .sidebar-main .btn.btn-primary.disabled:hover,
.sidebar-main .btn-primary.disabled:focus, .sidebar-main .btn-primary.disabled:active {
    background: #aab2bd;
    border-color: #9ca5b1;
    color: #c4c9d0;
    cursor: not-allowed;
}

#errors {
    display: none;
}

#download-warning {
    text-align: center;
    display: none;
}

#download-warning .size {
    font-weight: 700;
}

input.form-control:hover {
    border-color: #eeb013;
}

input.xs {
    max-width: 48px;
    display: inline-block;
}

input.sm {
    max-width: 124px;
    display: inline-block;
    max-width: 100%;
}

input.sm, input.xs {
    font-size: 14px;
    padding: 5px;
    line-height: 15px;
    height: auto;
}

select.sm {
    font-size: 14px;
    height: 28px;
}

.has-error .form-control, .form-control.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#errors {
    margin: 5px 0 14px 0;
}

#download-progress {
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-top: 7px;
    margin-bottom: 4px;
    background-color: #f5f5f5;
}

#download-progress .progress-bar {
    background: #2e5590;
}

#download-loading {
    background: #6DA9CF;
    color: #ffffff;
    display: block;
    width: 100%;
    font-size: 16px;
}

.btn.sm {
    font-size: 12px;
    padding: 5px 10px;
    line-height: 15px;
    height: auto;
}

#set-zoom.btn:focus {
    outline: 0px;
    outline-offset: 0px;
    background: #3e3e3e;
    color: #ffffff;
    border-color: #2f2f2f;
}

.btn-default.dark {
    background: #3e3e3e;
    color: #ffffff;
    border-color: #2f2f2f;
}

.btn-default.dark:hover {
    background: #171717;
    color: #ffffff;
    border-color: #000000;
}

body .bottom-toolbar .toggle.btn-sm {
    min-height: 20px;
    height: 20px !important;
}

body .bottom-toolbar .btn-group-sm > .btn, .btn-sm {
    padding: 0px 10px;
}

body .bottom-toolbar .toggle-group .btn-sm {
    font-size: 12px;
    line-height: 12px;
}

body .bottom-toolbar .toggle-group .toggle-handle {
    height: 19px;
}

body .bottom-toolbar .toggle-group label.btn {
    padding-top: 3px;
}

body .bottom-toolbar .toggle-group .btn-info, body .bottom-toolbar .btn-info {
    padding-top: 3px;
    background: #4C4F59;
    color: #fff;
    border-color: #888888;
}

.pointer {
    cursor: pointer;
}

/*
 * Map / Open Layers
 */
#map {
    background: #000000;
}

#map.outlines .ol-unselectable img {
    outline-width: 1px;
    outline-color: rgba(0, 255, 255, .5);
    outline-style: solid;
}

.ol-unselectable img {
    outline-width: 1px;
    outline-color: rgba(0, 255, 255, 0);
    outline-style: solid;
}

#mouse-position .ol-mouse-position {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    display: inline-block;
}

#download-loading, #download-error, #download-success {
    display: none;
}

/*
 * Tabs
 */
.sidebar ul.nav-tabs {
    margin: 0 0 12px 0;
}

.sidebar .nav-tabs > li > a {
    color: #2199e8;
    padding: 7px 12px;
    border-radius: 0px;
}

.sidebar .nav-tabs > li.active > a {
    color: #555;
}

.sidebar .nav-tabs > li.active > a:hover, .sidebar .nav-tabs > li > a:hover {
    color: #555;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-radius: 0px;
}