/*
 * NRL Branding for bootstrap
 * Navy: 		#162956
 * Blue: 		#2E5590
 * Light Blue: 	#6DA9CF
 * Gray: 		#4C4F59
 * Yellow: 		#FAB208
 */

.navbar-brand .logo {
    margin: 0;
    padding: 0;
    width: 112px;
    height: 74px;
    background: url(../img/logo-nrl-white.png);
    background: url(../img/nrl_logo_white.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
}

.navbar-logo #navbar {
    margin-top: 55px;
}

.navbar-logo .navbar-brand {
    height: 95px;
}

body hr {
    border: 0px;
    background: #e8e8e8;
    height: 2px;
}

body hr.thin {
    border: 0px;
    background: #e8e8e8;
    height: 1px;
}

.alert {
    border-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-radius: 0px;
    padding: 6px 12px;
}

.alert .close {
    margin-right: -4px;
}

/**
 * Text & Links
 */
body {
    font-family: "Arial";
}

p {
    font-family: "Arial";
    color: #4d4f59;
}

body a, .btn-link {
    color: #2199e8;
}

.h1, .h2, .h3, h1, h2, h3 {
    color: #162956;
}

/**
 * Main Elements
 */
body {
    padding-top: 70px;
    padding-bottom: 0;

}

body.has-logo {
    padding-top: 98px;
}

section {
    margin-bottom: 15px;
}

.footer {
    background-color: #2A2A2A;
    color: #ccc;
    padding: 50px 0;
    margin-top: 80px;
    text-align: left;
    font-size: 13px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #FAB208;
    text-decoration: none;
}

.footer p {
    color: #ccc;
}

.footer .links, .footer .links li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .links {
    margin-bottom: 20px;
    display: block;
}

.footer .links li {
    display: inline-block;
}

.footer .links li + li {
    margin-left: 15px;
}

.footer .credit {
    border-top: 1px solid #333;
    padding-top: 12px;
    font-size: 11px;
}

/**
* Navigation
*/
.navbar {
    min-height: 40px;
}

.navbar-inverse {
    background: #162956;
    min-height: 40px;
    border-bottom: 3px solid #fab208;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    color: #FAB208;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: #2e5590;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #07173c;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li > a {
    padding: 10px 15px;
}

.navbar-brand {
    padding: 10px 15px;
    height: 40px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fab208;
}

/**
* Forms
*/
.form-control {
    border-radius: 0;
    padding: 2px 6px;
    display: inline-block;
    width: auto;
}

/**
 * Buttons, Panels, and Labels
 */
.btn-primary, .label-primary {
    background: #2E5590;
    border-color: #16446b;
}

.btn-info, .label-info {
    background: #6DA9CF;
    border-color: #6DA9CF;
}

.btn-warning, .label-warning {
    background: #FAB208;
    border-color: #FAB208;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: #2e5590;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #2E5590;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background: #2E5590;
}

.label-default {
    background: #4C4F59;
}

.badge {
    background: #4C4F59;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: #2e5590;
}

.panel-primary > .panel-heading {
    background: #2e5590;
    border-color: #2e5590;
}

.panel-primary {
    border-color: #2e5590;
}

/**
 * Images
 */

/*
 * MOBILE STYLES
 */
/* xl */
@media (min-width: 1200px) {

}

/* lg */
@media (max-width: 1199px) {

}

/* md */
@media (max-width: 992px) {

}

/* xs */
@media (max-width: 767px) {

}