<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Geopackage Downloader">
    <meta name="author" content="NRL-GC">

    <title>Geopackage Downloader</title>

    <!-- Favicon -->
    <link href="favicon.ico" rel="icon">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16"/>

    <!-- CSS -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="libs/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
    <link href="css/nrl.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <link href="libs/open-layers/v3.18.2/ol.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body ng-app="gpkg-app" ng-controller="AppController as app">
<div class="container-fluid">
    <div class="row main-row" ng-class="app.sidebarClass">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 sidebar top-toolbar" ng-controller="NavController">

            <a class="navbar-brand" href="https://geoint.nrlssc.navy.mil">
                <div class="logo" id="logo"></div>
            </a>

            <div class="menu-toggle" id="menu-toggle" ng-click="menu = !menu">
                <span class="glyphicon glyphicon-menu-hamburger hamburger" ng-hide="menu"></span>
                <span class="glyphicon glyphicon-remove remove ng-cloak" ng-if="menu"></span>

            </div>
            <div id="menu" ng-show="menu" class="ng-cloak">
                <ul>
                    <li><a href="https://geoint.nrlssc.navy.mil/">Geospatial Homepage</a></li>
                    <li><a href="help/" target="_blank">Help</a></li>
                </ul>
            </div>
            <div class="page-title">Geopackage Downloader by NRL-GC</div>

        </div><!-- /.top-toolbar -->
        <div class="sidebar-toggle-wrap col-xs-10 col-sm-4 col-md-4 col-lg-3">
            <button class="btn btn-default sidebar-toggle" ng-click="app.toggleSidebar()">
                <span class="glyphicon glyphicon-chevron-left left" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-3 sidebar sidebar-main">
            <div class="inner">

                <!--templates/geopackage.html-->
                <app-directive></app-directive>

            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3 main" id="main">
            <!-- START MAP -->
            <div id="map" class="map" ng-class="app.outlineClass"></div>
            <!-- END MAP -->
        </div>
    </div>
</div>

<div id="mouse-position"></div>

<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="libs/polyfill/polyfill.min.js"></script>

<script src="libs/open-layers/v3.18.2/ol.js"></script>
<script src="libs/jquery/jquery-3.1.1.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="js/map.js"></script>
<script src="js/layers.js"></script>
<script src="js/tile.js"></script>
<script src="js/geopackage.js"></script>
</body>
</html>