<ul class="nav nav-tabs" id="gpkgDivNav" ng-show="ctrl.showNav">
    <li ng-class="{'active' : ctrl.curNav == 'main'}"><a href="#" ng-click="ctrl.setNav('main')">Edit Geopackage</a></li>
    <li ng-class="{'active' : ctrl.curNav == 'downloads'}"><a href="#" ng-click="ctrl.setNav('downloads')">Downloads</a></li>
</ul>

<!-- Main Tab -->
<div id="gpkgDivMain" ng-show="ctrl.curNav=='main'">

    <!--Button used for testing, hidden by default-->
    <div class="menu-toggle" ng-click="ctrl.test()" ng-show="ctrl.showTestIcon" style="color: #FFC107;">
        <span class="glyphicon glyphicon-flash"></span>
    </div>

    <!-- SET LAYERS-->
    <label ng-if="ctrl.showLayers">Select Layers</label>

    <div class="alert alert-danger" ng-show="!ctrl.validation.conditions.hasLayer.test() && ctrl.validation.conditions.hasLayer.show">
        <a href="#" class="close" ng-click="ctrl.validation.conditions.hasLayer.show = !ctrl.validation.conditions.hasLayer.show"
            aria-label="close" title="close">×</a>
        <div ng-bind-html="ctrl.validation.conditions.hasLayer.message"></div>
    </div>

    <div ng-if="!ctrl.showLayers">
        <p>Loading Layers <img src="img/loading.gif" class="loading-icon" /></p>
    </div>

    <div ng-if="ctrl.showLayers">

        <!--templates/layerMenu.html-->
        <layer-menu></layer-menu>

    </div>

    <hr class="thin">

    <!-- SET REGION -->
    <a href="#" class="pull-right help-btn" id="gpkg-help-region" ng-show="ctrl.showRegionHelp" ng-click="ctrl.showRegionHelp = !ctrl.showRegionHelp"><span class="glyphicon glyphicon-question-sign"></span></a>
    <label>Selected Region</label>
    <div class="alert alert-info" ng-hide="ctrl.showRegionHelp">
        <a href="#" class="close" ng-click="ctrl.showRegionHelp = !ctrl.showRegionHelp" aria-label="close" title="close">×</a>        Single-click, drag, and single-click to select an area on the map, or enter some values manually below.
    </div>

    <div class="form-group">

        <div class="alert alert-danger" ng-show="!ctrl.validation.conditions.lonMinMax.test() && ctrl.validation.conditions.lonMinMax.show">
            <a href="#" class="close" ng-click="ctrl.validation.conditions.lonMinMax.show = !ctrl.validation.conditions.lonMinMax.show"
                aria-label="close" title="close">×</a>
            <div ng-bind-html="ctrl.validation.conditions.lonMinMax.message"></div>
        </div>

        <div class="text-right"><a ng-click="ctrl.resetBbox()" href="#" class="small" ng-show="ctrl.setBboxManually">Clear Region</a></div>
        <div class="row">
            <div class="col-xs-6 coords">
                <label>Longitude Min</label>
                <div class="hyphen">-</div>
                <input type="number" ng-change="ctrl.updateBboxVector()" min="-180" max="180" ng-model="ctrl.box.minx" class="input form-control"
                    placeholder="Min Lon">
            </div>
            <div class="col-xs-6">
                <label>Longitude Max</label>
                <input type="number" ng-change="ctrl.updateBboxVector()" min="-180" max="180" ng-model="ctrl.box.maxx" class="input form-control"
                    placeholder="Max Lon">
            </div>
        </div>

        <div class="alert alert-danger" ng-if="ctrl.box.miny < -90 || ctrl.box.miny > 90 || ctrl.box.maxy < -90 || ctrl.box.maxy > 90 || ctrl.box.miny == undefined || ctrl.box.maxy == undefined"
            class="ng-scope">
            <b>Out of bounds:</b> Values for for Latitude must be within -90 to 90 degrees
        </div>
        <div class="alert alert-danger" ng-show="!ctrl.validation.conditions.latMinMax.test() && ctrl.validation.conditions.latMinMax.show">
            <a href="#" class="close" ng-click="ctrl.validation.conditions.latMinMax.show = !ctrl.validation.conditions.latMinMax.show"
                aria-label="close" title="close">×</a>
            <div ng-bind-html="ctrl.validation.conditions.latMinMax.message"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 coords">
                <label>Latitude Min</label>
                <div class="hyphen">-</div>
                <input type="number" ng-change="ctrl.updateBboxVector()" min="-90" max="90" ng-model="ctrl.box.miny" class="input form-control"
                    placeholder="Min Lat">
            </div>
            <div class="col-xs-6">
                <label>Latitude Max</label>
                <input type="number" ng-change="ctrl.updateBboxVector()" min="-90" max="90" ng-model="ctrl.box.maxy" class="input form-control"
                    placeholder="Max Lat">
            </div>
        </div>
    </div>
    <hr class="thin">

    <!-- SET SCALE -->
    <div id="scaleSelection">
        <a href="#" class="pull-right help-btn" ng-show="ctrl.showScaleHelp" id="gpkg-help-scale" ng-click="ctrl.showScaleHelp = !ctrl.showScaleHelp"><span class="glyphicon glyphicon-question-sign"></span></a>
        <label>Select Scale</label>
        <div class="alert alert-info" ng-hide="ctrl.showScaleHelp">
            <a href="#" class="close" ng-click="ctrl.showScaleHelp = !ctrl.showScaleHelp" aria-label="close" title="close">×</a>            Select the SET button to set the field to the map's current scale. Use the <span class="glyphicon glyphicon-plus"></span>            and <span class="glyphicon glyphicon-minus"></span> buttons to zoom to your desired scale level.
        </div>
        <div class="alert alert-danger" ng-show="!ctrl.validation.conditions.scaleMinMax.test() && ctrl.validation.conditions.scaleMinMax.show">
            <a href="#" class="close" ng-click="ctrl.validation.conditions.scaleMinMax.show = !ctrl.validation.conditions.scaleMinMax.show"
                aria-label="close" title="close">×</a>
            <div ng-bind-html="ctrl.validation.conditions.scaleMinMax.message"></div>
        </div>
        <div class="text-right"><a href="#" ng-click="ctrl.resetZoom()" class="small" ng-show="ctrl.setZoomManually">Clear Scale</a></div>
        <div class="row coord form-inline">
            <div class="col-xs-6 form-group">
                <div><label>Min Scale</label></div>
                <div class="input-group">
                    <input ng-change="ctrl.updateBboxVector()" ng-model="ctrl.minScale" class="form-control" disabled>
                    <div ng-click="ctrl.setMinZoom()" id="set-zoom-min" class="input-group-addon btn btn-default" data-toggle="tooltip" data-placement="top"
                        title="Set zoom at current level">SET</div>
                </div>
            </div>
            <div class="col-xs-6 form-group">
                <div><label>Max Scale</label></div>
                <div class="input-group">
                    <input ng-change="ctrl.updateBboxVector()" ng-model="ctrl.maxScale" class="form-control" disabled>
                    <div ng-click="ctrl.setMaxZoom()" id="set-zoom-max" class="input-group-addon btn btn-default" data-toggle="tooltip" data-placement="top"
                        title="Set zoom at current level">SET</div>
                </div>
            </div>
        </div>
    </div>

    <hr class="thin">

    <div id="gpkgEmail" class="section">
        <div class="form-inline">
            <label>Notification Email:  </label>
            <input ng-model="ctrl.email" type="email">
        </div>
    </div>

    <div id="gpkgAdvanced" class="panel panel-default">
        <div ng-click="ctrl.showAdvanced = !ctrl.showAdvanced" class="pointer panel-heading">
            <span class="glyphicon glyphicon-triangle-right" ng-hide="ctrl.showAdvanced"></span>
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="ctrl.showAdvanced"></span>
            <b>Advanced</b>
        </div>

        <div class="content panel-body" ng-show="ctrl.showAdvanced">

            <!-- SET PROFILE -->
            <a href="#" class="pull-right help-btn" id="gpkg-help-layer-select" ng-click="ctrl.showProfileHelp = !ctrl.showProfileHelp"><span class="glyphicon glyphicon-question-sign"></span></a>
            <label>Select Profiles</label>
            <div class="alert alert-info" ng-show="ctrl.showProfileHelp">
                <a href="#" class="close" ng-click="ctrl.showProfileHelp = !ctrl.showProfileHelp" aria-label="close" title="close">×</a>
                <b>For advanced users only:</b> these options change the details of the geopackage output. Options are listed for each geopackage server available.
            </div>
            <p ng-repeat="server in ctrl.geopackageServers">
                <label class="sm"> Profiles for {{server.url}}</label>
                <select ng-model="server.profile" ng-options="key as value for (key, value) in server.profiles" class="form-control"></select>
            </p>
            <hr class="spacer">
            <div id="sizeLimit">
                <label>Size Limit: </label> <input type="checkbox" ng-model="ctrl.hasFileSizeLimit" ng-true-value="true"
                    ng-false-value="false" style="margin-left: 6px;">
                <input ng-model="ctrl.fileSizeLimit" type="number" style="width: 70px;" ng-show="ctrl.hasFileSizeLimit">                <span ng-show="ctrl.hasFileSizeLimit">MB</span>
                <div class="alert alert-danger" ng-show="!ctrl.validation.conditions.fileSizeLimit.test() && ctrl.validation.conditions.fileSizeLimit.show">
                    <a href="#" class="close" ng-click="ctrl.validation.conditions.fileSizeLimit.show = !ctrl.validation.conditions.fileSizeLimit.show"
                        aria-label="close" title="close">×</a>
                    <div ng-bind-html="ctrl.validation.conditions.fileSizeLimit.message"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- SUBMIT BUTTON AND SIZE ESTIMATES -->
    <p class="info">
        Total tiles: <span class="text-primary" ng-class="ctrl.getNumTiles() < 5000 ? 'text-primary' : 'text-danger'">{{ctrl.getNumTiles()}}</span><br>        Total layers: <span class="text-primary">{{ctrl.getNumLayers()}}</span><br> Size Estimate: <span class="text-primary"
            ng-class="ctrl.getSizeEstimate() < 200000 ? 'text-primary' : 'text-danger'">{{ctrl.displaySizeEstimate()}}</span>
    </p>

    <div class="alert alert-warning" ng-if="ctrl.displaySizeWarning">
        <a href="#" class="close" ng-click="ctrl.displaySizeWarning = ! ctrl.displaySizeWarning" aria-label="close" title="close">×</a>
        <p>Your Geopackage is estimated to be <b>{{ctrl.displaySizeEstimate()}}</b>. Please confirm to continue.</p>
        <p class="text-center"><button class="btn btn-warning" ng-click="ctrl.confirmSizeWarning()">CONFIRM</button> </p>
        <p class="text-center"><a href="#" ng-click="ctrl.displaySizeWarning = ! ctrl.displaySizeWarning">Cancel</a></p>
    </div>
    <p class="text-danger form-error-alert" ng-if="ctrl.validation.showFormError"><b>Invalid submission</b>. Please fix the errors above</p>
    <p ng-if="!ctrl.displaySizeWarning"><button class="btn btn-primary" ng-click="ctrl.submitTask()" ng-class="{disabled: !ctrl.validation.conditions.hasLayer.test() || !ctrl.validation.conditions.lonMinMax.test() || !ctrl.validation.conditions.latMinMax.test() || !ctrl.validation.conditions.scaleMinMax.test() || !ctrl.validation.conditions.fileSizeLimit.test()}">Generate</button></p>

</div>

<div id="gpkgDivDownloads" ng-show="ctrl.curNav == 'downloads'">

    <!-- SERVER ERRORS -->
    <table ng-if="ctrl.serverErrors.length > 0" class="table text-danger" ng-if="ctrl.serverErrors.length > 0">
        <tr>
            <th colspan="2"><strong>An error has occurred.</strong></th>
        </tr>
        <tr ng-repeat="error in ctrl.serverErrors" class="text-red">
            <td>{{error.status}}</td>
            <td>{{error.statusText}}</td>
        </tr>
    </table>

    <!-- JOB STATUS -->
    <table class="table" ng-if="ctrl.tasksInProgress.length > 0">
        <th>Job ID</th>
        <th>Progress</th>
        <tr ng-repeat="task in ctrl.tasksInProgress" class="task">
            <td>
                <p>{{task.status.filename}}</p>
            </td>
            <td>
                <div class="progress" ng-hide="task.status.done || task.status.failed">
                    <div class="progress-bar progress-bar-success progress-bar-striped" ng-style="{'width' : (task.status.doneTiles/task.status.totalTiles*100) + '%'}">
                        <span class="ng-binding">{{ ( task.status.doneTiles / task.status.totalTiles * 100 ) | number:0 }}%</span></span>
                    </div>
                </div>
                <p class="text-danger" ng-show="task.status.failed">
                    Download has failed
                </p>
                <p ng-show="task.status.done && !task.status.failed">
                    <a ng-if="task.status.done" ng-href="{{task.status.downloadLink}}" download>
                    Download <i class="glyphicon glyphicon-download"></i>
                </a>
                </p>
            </td>
        </tr>
    </table>
</div>

<!-- Link out to end-user guide -->
<div class="panel panel-default" style="margin: 36px -20px -20px -20px;">
    <div class="panel-body">
            <p>
                <span class="glyphicon glyphicon-question-sign" style="float:left;color: #c7c7c7;margin-right: 12px;font-size: 20px;"></span>
                <b>Need help?</b>
            </p>
            <p>
                <a href="help" style="padding-top: 2px; display: inline-block;" target="_blank">
                    View GeoPackage Documentation
                    <span class="glyphicon glyphicon-new-window small"></span>
                </a>
            </p>
            <div style="clear:both; height: 1px;"></div>
    </div>
</div>
