<div ng-repeat="s in ctrl.services">
    <h6 ng-if="ctrl.services.length > 1" class="service"><a href="#" class="pull-right" ng-click="s.hideTree = ! s.hideTree"><span class="glyphicon glyphicon-plus" ng-show="s.hideTree"></span><span class="glyphicon glyphicon-minus" ng-hide="s.hideTree"></span></a> {{s.name}}</h6>
    <ul class="tree-list" ng-hide="s.hideTree">
        
        <li ng-if="s.hasCategories" class="has-children" ng-repeat='c in s.categories' ng-class="{'active' : c.active}" >
            <a href="#" ng-click="c.active = !c.active">{{c[0]}}</a>
            <ul>
                <li ng-click="ctrl.layers[l.name].toggle()" ng-repeat="l in ctrl.getLayersByCategory(c[0], s.id)"><a href="#"><input type="checkbox" ng-model="ctrl.layers[l.name].selected" ng-true-value="true" ng-false-value="false" ng-click="ctrl.layers[l.name].toggle()">{{l.name}}</a></li>
            </ul>
        </li>
        <!-- If service has only 1 layer, don't display layers dropdown, just show the layer -->
        <li ng-if="!s.hasCategories && ctrl.getLayersByService($index).length <= 1" class="has-children active" >
            <ul style="margin-left: 0px;">
                <li ng-click="ctrl.layers[l.name].toggle()" ng-repeat="l in ctrl.getLayersByService($parent.$index)"><a href="#"><input type="checkbox" ng-model="ctrl.layers[l.name].selected" ng-true-value="true" ng-false-value="false" ng-click="ctrl.layers[l.name].toggle()">{{l.name}}</a></li>
            </ul>
        </li>
        <li ng-if="!s.hasCategories && ctrl.getLayersByService($index).length > 1" class="has-children" ng-class="{'active' : serviceActive}" ng-init="serviceActive = false" >
            <a href="#" ng-click="serviceActive = !serviceActive">{{s.name}} layers</a>
            <ul>
                <li ng-click="ctrl.layers[l.name].toggle()" ng-repeat="l in ctrl.getLayersByService($parent.$index)"><a href="#"><input type="checkbox" ng-model="ctrl.layers[l.name].selected" ng-true-value="true" ng-false-value="false" ng-click="ctrl.layers[l.name].toggle()">{{l.name}}</a></li>
            </ul>
        </li>

    </ul>
    <div class="tempSpacer" style="height: 12px;" ng-show="s.hideTree"></div>

</div>